                    <div id="addrDiv" class="widget">
<!-- Address One -->    <?php $i=1; foreach($address_lists as $address){ ?> 
                        <span>                   
                        <div class="widget-header transparent">
                            <h2><i class="fa fa-home"></i><strong> Owner</strong> Address <?php echo $i;?></h2>
                            <div class="additional-btn">                                
                               <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            </div>
                        </div>
                        <div class="widget-content padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3"><h6><?php echo form_error('clist1'); ?></h6><input type="text" name="clist1" value="<?php echo $address->addressCountry; echo set_value($address->addressCountry); ?>" class="form-control input-sm" placeholder="Country"></div>
                                                <div class="col-md-3"><h6><?php echo form_error('city1'); ?></h6><input type="text" name="city1" value="<?php echo $address->addressCity; echo set_value($address->addressCity); ?>" class="form-control input-sm" placeholder="City"></div>
                                                
                                            </div>
                                        </div>                                       
                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3"><h6><?php echo form_error('add11'); ?></h6><input type="text" name="add11" value="<?php echo $address->addressCommunity; echo set_value($address->addressCommunity); ?>" class="form-control input-sm" placeholder="Community"></div>
                                                <div class="col-md-3"><h6><?php echo form_error('add12'); ?></h6><input type="text" name="add12" value="<?php echo $address->addressSubcommunity; echo set_value($address->addressSubcommunity); ?>" class="form-control input-sm" placeholder="Sub Community"></div>
                                                <div class="col-md-3"><h6><?php echo form_error('add13'); ?></h6><input type="text" name="add13" value="<?php echo $address->address; echo set_value($address->address); ?>" class="form-control input-sm" placeholder="Street"></div>
                                            </div>
                                        </div>                                                                  
                                    </div>                          
                                </div>                               
                        </div>
                        </span>
                        <?php ++$i;} ?>                             
                    </div>                    
                    <div class="widget-content padding" style="margin-left: 12px;">
                        <div class="form-group">
                            <div class="row">
                                <div id="addaddrbtn">
                                    <button class="btn btn-green-1">Add Another Address</button>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Telephone No -->
                    <div class="widget">
                            <div class="widget-header padding">
                            <h2><i class="fa fa-phone-square"></i><strong> Telephone</strong> Number</h2>
                            <div class="additional-btn">                                
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            </div>
                            </div>
                            <div class="widget-content padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="telnoDiv" class="row">
                                            
                                            <?php $i=1; if(count($telno_lists)>1) { foreach($telno_lists as $telno){ ?>
                                            <span>
                                                <div class="col-md-3"><h6><?php echo form_error('tel'.$i); ?></h6><input type="text" name="tel<?php echo $i; ?>" value="<?php echo $telno->telephone_no; echo set_value('tel'.$i); ?>" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                            </span>
                                            <?php }} else { ?>
                                            <span>
                                                <div class="col-md-3"><h6><?php echo form_error('tel'.$i); ?></h6><input type="text" name="tel<?php echo $i; ?>" value="<?php echo set_value('tel'.$i); ?>" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                            </span>                                         
                                            <?php } ?>                                               
                                            </div>                                                                                        
                                        </div>    
                                        <div id="addTelnoBtn"><a href=""  class="btn btn-green-1" >Add Another Telephone No</a></div>                                                          
                                    </div>                          
                                </div>
                            </div>                          
                        </div>
<!-- End Telephone No -->                    
<!-- Fax No -->
                    <div class="widget">
                        <div class="widget-header transparent">
                            <h2><i class="glyphicon glyphicon-print"></i><strong> Fax</strong> Number</h2>
                            <div class="additional-btn">                                
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            </div>
                            </div>
                            <div class="widget-content padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="faxnoDiv" class="row">
                                             <?php $i=1; if(count($faxno_lists)>1) { foreach($faxno_lists as $faxno){ ?>
                                            <span>
                                                <div class="col-md-3"><h6><?php echo form_error('faxn'.$i); ?></h6><input type="text" name="faxn'.<?php echo $i; ?>" value="<?php echo $faxno->fax_no; echo set_value('faxn'.$i); ?>" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                            </span>
                                             <?php }} else { ?>  
                                            <span>
                                                <div class="col-md-3"><h6><?php echo form_error('faxn'.$i); ?></h6><input type="text" name="faxn'.<?php echo $i; ?>" value="" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                            </span>
                                               <?php } ?>
                                            </div>
                                        </div> 
                                        <div id="addFaxnoBtn"><a href=""  class="btn btn-green-1" >Add Another Fax No</a></div>                                                               
                                    </div>                          
                                </div>
                            </div>                          
                        </div>
<!-- End Fax No -->
<!-- Mobile No -->
                    <div class="widget">
                        <div class="widget-header transparent">
                            <h2><i class="icon-mobile-2"></i><strong>Mobile</strong> Number</h2>
                            <div class="additional-btn">                                
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            </div>
                            </div>
                            <div class="widget-content padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div id="mobilenoDiv" class="row">
                                            <?php $i=1; if(count($mobileno_lists)>1) { foreach($mobileno_lists as $mobileno){ ?>
                                            <span>
                                                <div class="col-md-3"><h6><?php echo form_error('mnum'.$i); ?></h6><input type="text" name="mnum<?php echo $i; ?>" value="<?php echo $mobileno->mobile_no; echo set_value('mnum'.$i); ?>" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                            </span>
                                            <?php }} else { ?>                                                 
                                            <span>
                                                <div class="col-md-3"><h6><?php echo form_error('mnum'.$i); ?></h6><input type="text" name="mnum<?php echo $i; ?>" value="" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                            </span>
                                            <?php } ?>
                                            </div>
                                        </div>
                                        <div id="addMobilenoBtn"><a href=""  class="btn btn-green-1" >Add Another Mobile No</a></div>                                                              
                                    </div>                          
                                </div>
                            </div>                          
                        </div>
<!-- End Mobile -->
<!-- Email -->
                    <div class="widget">
                        <div class="widget-header transparent">
                            <h2><i class="icon-mail-3"></i><strong> Email</strong> Address</h2>
                            <div class="additional-btn">                                
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            </div>
                        </div>
                        <div class="widget-content padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="emailDiv" class="form-group">
                                        <div class="row">
                                        <?php $i=1; if(count($email_lists)>1) { foreach($email_lists as $email){ ?>
                                        <span>
                                            <div class="col-md-3"><h6><?php echo form_error('email'.$i); ?></h6><input type="text" name="email1" value="<?php echo $email->email; echo set_value('email'.$i); ?>" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                        </span>
                                        <?php }} else { ?>  
                                        <span>
                                            <div class="col-md-3"><h6><?php echo form_error('email'.$i); ?></h6><input type="text" name="email1" value="" class="form-control input-sm" placeholder="<?php echo $i; ?>."></div>
                                        </span>
                                        <?php } ?>                                               
                                        </div><!-- row -->
                                    </div><!-- form-group -->
                                    <div id="addEmailBtn"><a href=""  class="btn btn-green-1" >Add Another Email</a></div>                                                                                                                             
                                </div><!-- col-md-12 -->   
                            </div><!-- row -->
                        </div><!-- widget-content padding -->          
                    </div>
                </div>
<!-- End Email -->

                             </div><!-- widget-content padding -->                       
                        </div><!-- widget -->   