 <?php if(count($sections)>3 && count($sections)<=6) { ?>
                <div class="row">
                    <?php foreach(array_slice($sections,3,3) as $section) {?>  
                    <div class="col-sm-4 portlets first-column">                    
<!-- start loop from here -->
                        <div class="widget clearfix">
                            <div class="widget-header">
                                <h2><strong><?php echo $section['section_name']; ?></strong></h2>
                                <div class="additional-btn">
                                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <!-- check box -->                                
                                <div class="form-group">                                    
                                    <div class="col-sm-10">
                                    <?php foreach($children as $child) {                                   
                                        if(strtoupper($child->parent) == strtoupper($section['section_name'])) {?>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" name="table_name[]" id="<?php echo strtolower(str_replace(' ', '_', $child->menu)); ?>" value="0" <?php echo set_checkbox('table_name', '1', FALSE); ?>>
                                            <?php echo $child->menu; ?>
                                          </label>
                                        </div>
                                    <?php }} ?>
                                    </div>
                                </div>                                
                                <!-- end check box -->
                            </div>
                        </div>                      
<!-- end start loop from here -->
                    </div><!-- first-column -->
                    <?php } ?>
                </div><!-- row -->
                <?php } ?>
                <?php if(count($sections)>6 && count($sections)<=9) { ?>
                <div class="row">
                    <?php foreach(array_slice($sections,4,3) as $section) {?>  
                    <div class="col-sm-4 portlets first-column">                    
<!-- start loop from here -->
                        <div class="widget clearfix">
                            <div class="widget-header">
                                <h2><strong><?php echo $section['section_name']; ?></strong></h2>
                                <div class="additional-btn">
                                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <!-- check box -->                                
                                <div class="form-group">                                    
                                    <div class="col-sm-10">
                                    <?php foreach($children as $child) {                                   
                                        if(strtoupper($child->parent) == strtoupper($section['section_name'])) {?>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" name="table_name[]" id="<?php echo strtolower(str_replace(' ', '_', $child->menu)); ?>" value="0" <?php echo set_checkbox('table_name', '1', FALSE); ?>>
                                            <?php echo $child->menu; ?>
                                          </label>
                                        </div>
                                    <?php }} ?>
                                    </div>
                                </div>                               
                                <!-- end check box -->
                            </div>
                        </div>                      
<!-- end start loop from here -->
                    </div><!-- first-column -->
                    <?php } ?>
                </div><!-- row -->
                <?php } ?>
                