div#to_emailer_filter {
	margin-top: 10px !important;
	margin-left: 100px !important;
	float: left !important;	
}
div#to_emailer_filter label {
	width: 150%;
}
div#to_emailer_filter input {
	width: 80%;	
}
div#to_emailer_paginate {
	text-align: center;
//	margin-right: -80px !important;
//	margin-top: -6px !important;	
//	height: 38px !important;
}

div.pagination {
	height: 38px !important;

}
.form-group {
	margin-bottom: 5px !important;
}
#table_container {
	padding: 0 10px 10px 10px !important;
}

input:focus { 
    outline:none !important;
    border-color:#9ecaed !important;
    box-shadow:0 0 10px #9ecaed !important;
}
.sl_align {
	text-align: center !important;
}
